*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url('Background.png');
    background-size: cover;
    background-position:center;
    height: 100vh; 
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main nav{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 15px 50px 15px 15px;
    justify-content: space-between;

}

.main nav .navBar li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 1px;
    margin-right: 40px;
}

.main nav .navBar li a{
    color: rgb(38, 38, 187);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.main .logo h1{
    font-size: 30px;
    color:rgb(38, 38, 187);
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main .logo h1 span{
    font-size: 24px;
    background-color: rgb(38, 38, 187);
    color: white;
    padding: 3px;
    opacity: 0.8;
}

.main .homeText {
    position:relative;
    top: 80px;
    left: 90px;
    width: 850px;
    
}

.main .homeText h1{
    font-size: 75px;
    padding: 0px;
    font-family: sans-serif;
    color: rgb(0, 126, 245);
    padding-bottom: 12px;
}

.main .homeText h1 span{
    color: rgb(38, 38, 187);
}

.main .homeText .secondTitle {
    font-size: 55px;
}

.main .homeText p{
    text-align: justify;
    width: 650px;
    position: relative;
    top: 30px;
    font-size: 20px;
    
}

.main .mainImage img{
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.buttons{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 18px;
    margin-right: 10px;
}

.about-us-container{
    text-align: center;
}

.about-us-container h1{
    font-size: 30px;
    margin: 40px 0px;
}

.about-us-container p{
    margin: 0px 40px 30px 40px;
    font-size: 20px;
}

.icons{
    width: 250px;
}

.aboutUs-images{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.services{
    text-align: center;
    margin-top: 80px;
    background-color: lightblue;
    padding: 50px 0px;  
}

.services h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.services ul{
    list-style-type: disc;
    list-style-position: inside; /* Keeps bullets aligned with text */
    padding-left: 0;
    display: inline-block; /* Aligns the list items as a block in the center */
    text-align: left;
}

.services li{
    line-height: 30px;
    padding-left: -50px;  
}

.services li a{
    text-decoration: none;
}

.services img{
    width: 350px;
    margin-left: 80px;
    margin-top: -70px;
    margin-right: 30px;
    display: block;
    float: right;

}

.tablebranch{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
   
}
.tablebranch tr {
    border: 1px solid blue;
    padding: 10px;
}
.tablebranch th {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
}

.tablebranch td {
    background-color: rgba(173, 216, 230, 0.199);
    border: 1px solid blue;
    padding: 10px;
}

.Branches{
    text-align: center;
}

.Branches h1{
    font-size: 30px;
    margin: 40px 0px;
}

.contactus{
    background-image: url('contactus.jpg');
    background-size: cover;
    background-position:center;
    height: 60vh; 
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 80px;
}

.contactbackground h1{
    font-size: 30px;
    margin-top: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.contactbackground h3{
    font-size: 22px;
    margin-top: 160px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
    border: 2px solid white;
    background-color: white;
    color: blue;
    border-radius: 30px;
    padding: 8px;
}

@media (max-width: 1536px) {
    /*.main {
      max-width: 1280px;
      
    }*/
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .main .nav {
        flex-direction: column;
    }

    .main .nav .navBar li a {
        color: red !important;  /* Add !important to force the color change */
    }
}
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }

