*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    background-image: url('Background.png');
    background-size: cover;
    background-position:center;
    height: 100vh; 
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    padding: 15px 50px 15px 15px;
    justify-content: space-between;
    position: fixed;

}

.main nav.scrolled {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.main nav .navBar li{
    list-style-type: none;
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px 1px;
    margin-right: 40px;
}

.main nav .navBar li a{
    color: rgb(38, 38, 187);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo{
    overflow: hidden;
    scrollbar-width: none;
    max-height: 100px;
    display: flex;
}

.main .logo h1{
    font-size: 1.5rem;
    color:rgb(38, 38, 187);
    font-family: "Archivo Black", sans-serif;
    font-weight: 600px;
    font-style: normal;
    white-space: nowrap;
}

.main .logo h1 span{
    font-size: 1.8rem;
    background-color: rgb(38, 38, 187);
    color: white;
    opacity: 0.8;
}

.main .homeText {
    position:relative;
    top: 120px;
    left: 90px;
    max-width: 850px;
    word-wrap: break-word;
    
}

.main .homeText h1{
    font-size: 3rem;
    padding: 0px;
    font-family: sans-serif;
    color: rgb(0, 126, 245);
    padding-bottom: 12px;
}

.main .homeText h1 span{
    color: rgb(38, 38, 187);
}

.main .homeText .secondTitle {
    font-size: 3.5rem;
}

.main .homeText p{
    text-align: justify;
    width: 650px;
    position: relative;
    top: 30px;
    font-size: 1.4rem;
    word-wrap: break-word;
    
}

.main .mainImage img{
    position: absolute;
    bottom: 0px;
    right: 20px;
    overflow: hidden;
}

.buttons{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 1.2rem;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

.buttons:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.about-us-container{
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.about-us-container h1{
    font-size: 2rem;
    margin: 40px 0px;
}

.aboutparagraph{
    margin: 0px 40px 30px 40px;
    font-size: 1.4rem;
    word-wrap: break-word;
    white-space: normal;
}

.icons{
    max-width: 250px;
}

.aboutUs-images{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.services{
    text-align: center;
    margin-top: 80px;
    background-color: lightblue;
    padding: 50px 0px;  
    overflow: hidden;
}

.services h1{
    font-size: 2rem;
    margin-bottom: 30px;
}

.services ul{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

.services li{
    line-height: 30px;
    padding-left: -50px;  
}

.services li a{
    text-decoration: none;
}

.services img{
    max-width: 350px;
    margin-left: 80px;
    margin-top: -70px;
    margin-right: 30px;
    display: block;
    float: right;

}

.tablebranch{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    overflow: hidden;
   
}
.tablebranch tr {
    border: 1px solid blue;
    padding: 10px;
}
.tablebranch th {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
}

.tablebranch td {
    background-color: rgba(173, 216, 230, 0.199);
    border: 1px solid blue;
    padding: 10px;
}

.Branches{
    text-align: center;
}

.Branches h1{
    font-size: 30px;
    margin: 40px 0px;
}

.contactus{
    background-image: url('contactus.jpg');
    background-size: cover;
    background-position:center;
    height: 60vh; 
    width: 100%;
    max-height: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 80px;
}

.contactbackground h1{
    font-size: 2rem;
    margin-top: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.contactbackground h3{
    font-size: 1rem;
    margin-top: 160px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
    border: 2px solid white;
    background-color: white;
    color: blue;
    border-radius: 30px;
    padding: 8px;
}

  /* Tablet view */
  @media screen and (max-width: 768px) { 
    .main {
        height: auto;
        padding-top: 50px;
        overflow: hidden;
    }

    .body {
        overflow: hidden;
    }

    .main .homeText{
        left: 50px;
        top: 145px;
    }
    
    .main .homeText h1 {
        font-size: 45px;
    }

    .main .homeText p {
        font-size: 1.4rem;
        max-width: 85%;
        padding: 0 20px 70px 0;
        word-wrap: break-word;
        text-align: justify;
    }

    .main .mainImage {
        display: flex;                
        justify-content: flex-end;  
        align-items: flex-end;
    }

    .main .mainImage img {
        max-width: 70%;
        position: relative;
        bottom: 0px;
        margin-right: 0px;
        overflow: hidden;
    }

    .main nav .navBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

    .main nav .navBar li {
        margin-right: 20px;
        margin-top: 20px;
    }

    .main nav .navBar li a {
        font-size: 1.6rem;
    }

    .main nav {
        flex-direction: column;
        padding: 10px;
        flex-wrap: wrap;
    }

    .main nav.scrolled {
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        top: 0;
    }
    
    .main .logo h1 {
        font-size: 24px;
    }

    .buttons {
        font-size: 1.5rem;
        max-width: 100%;
        padding-inline: 20px;
        margin: 10px 10px 0px 0px;
    }

    .about-us-container{
        overflow: hidden;
    }

    .aboutparagraph{
        margin: 10px;
        font-size: 1.8rem;
        justify-content: center;
        
    }

    .aboutUs-images{
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 15px;
        max-height: 100%;
        font-size: 1.5rem;
        transform: scale(1.2);
        padding-top: 120px;
        padding-bottom: 100px;
        overflow: hidden;
    }

    .services ul {
        padding-left: 20px;
    }

    .services ul li{
        margin: 30px;
        padding: 10px;
        font-size: 1.8rem;
    }

    .services img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
        float: none;
    }

    .tablebranch{
        margin: 20px;
    }

    .tablebranch td, .tablebranch th {
        font-size: 1.5rem;
    }

    .contactus {
        height: 150px;
    }

    .contactus{
        height: 100vh; 
    }

    .contactbackground h1{
        font-size: 2rem;
    }

    .contactbackground h3{
        font-size: 1.8rem;
    }
}

 /* Mobile view */
@media screen and (max-width: 480px) {
    .main .homeText h1 {
        font-size: 2.2rem;
        display: block;
        width: 100%;
    }

    .main .homeText .secondTitle {
        font-size: 3.0rem;
        display: block;
    }

    .main .homeText p {
        font-size: 1.6rem;
        display: block;
        width: 100%;
    }

    .main .mainImage img {
        width: 80%;
        position: relative;
        bottom: 0;
        right: 0;
        padding-top: 80px;
    }

    .main nav .navBar{
        justify-content: center;
    }

    .main nav .navBar li {
        margin-right: 10px;
    }

    .buttons {
        font-size: 1.6rem;
        padding: 10px;
    }

    .about-us-container h1, .services h1, .Branches h1 {
        font-size: 2rem;
    }

    .about-us-container p, .services li {
        font-size: 1.6rem;
    }

    .services img {
        width: 100%;
        margin-left: 0;
    }

    .contactus {
        height: 250px;
    }

    .contactbackground h1 {
        font-size: 2rem;
    }

    .contactbackground h3 {
        font-size: 1.6rem;
    }
}


 /* Mobile view */
 @media screen and (max-width: 700px) {

    .main nav .navBar{
        justify-content: center;
    }

    .main nav .navBar li {
        margin-right: 10px;
    }

    .main .homeText .secondTitle {
        font-size: 3.0rem;
        display: block;
    }

    .main .homeText p {
        font-size: 1.6rem;
        display: block;
        width: 100%;
    }

    .main .mainImage img {
        padding-top: 80px;
    }
 }

 @media screen and (max-width: 650px) {
    .main .homeText{
        top: 220px;
    }

    .main .mainImage img {
        padding-top: 220px;
    }

    .main .homeText h1{
        width: 90%;
    }

    
    .tablebranch{
        border: none;
    }

    .tablebranch th{
        display: none;
        border: none;
    }

    .tablebranch .trtable{
        border: none;
    }

    .tablebranch td, .tablebranch tr{
        display: block;
        width: 95%;
        
    }

    .tablebranch tr{
        margin-bottom: 25px;
        border: none;
    }

    .tablebranch td, .tablebranch tr{
        text-align: center;

    }
 }

 @media screen and (max-width: 400px) {
    .main .homeText{
        top: 250px;
    }

    .main .mainImage img {
        padding-top: 240px;
    }

    .main nav .navBar li {
        margin-right: 10px;
        line-height: 10px;
    }

    .main .homeText h1{
        width: 80%;
    }

    .main .homeText .secondTitle {
        font-size: 1.8rem;
        display: block;
        width: 80%;
    }

    .main .homeText p {
        font-size: 1.2rem;
        display: block;
        width: 80%;
    }
 }

 @media screen and (max-width: 1140px) {
    .main .mainImage img { 
        bottom: 0px;
        max-height: 70%;
    }

    .main .homeText p {
        font-size: 1.2rem;
        display: block;
        width: 80%;
    }

    .services img {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: block;
        float: none; 
    }
}

@media screen and (max-width: 1020px) {
    .main .mainImage img { 
        bottom: 0px;
        max-height: 40%;
    }
}

 /*Animation*/

 @keyframes heroanimation {
    from {color: rgb(0, 126, 245);}
    to {color: rgb(38, 38, 187);}  
 }

 @keyframes heroanimationspan {
    from {color:   rgb(0, 126, 245);}}
    to {color:  rgb(0, 126, 245);
 }

 .homeText h1 {
    animation-name:heroanimation;
    animation-duration: 5s;
  }

 .homeText h1 span{
    animation-name:heroanimationspan;
    animation-duration: 10s;
  }

  @keyframes textanimation{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.homeText{
    animation: textanimation 2s ease-out 1 both;
    display: inline-block;
}

@keyframes imageanimation{
    from{
        opacity: 0;
        transform: perspective(500px);
    }
    to{
        opacity: 1;
        transform: perspective(500px);
    }
}

.mainImage img{
    animation: imageanimation 5s ease-out 1 both;
}