*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    background-image: url('Background.png');
    background-size: cover;
    background-position:center;
    height: 100vh; 
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    padding: 15px 50px 15px 15px;
    justify-content: space-between;

}

.main nav .navBar li{
    list-style-type: none;
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px 1px;
    margin-right: 40px;
}

.main nav .navBar li a{
    color: rgb(38, 38, 187);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo{
    overflow: hidden;
    scrollbar-width: none;
}

.main .logo h1{
    font-size: 1.5rem;
    color:rgb(38, 38, 187);
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main .logo h1 span{
    font-size: 1.8rem;
    background-color: rgb(38, 38, 187);
    color: white;
    padding: 3px;
    opacity: 0.8;
}

.main .homeText {
    position:relative;
    top: 80px;
    left: 90px;
    max-width: 850px;
    
}

.main .homeText h1{
    font-size: 3rem;
    padding: 0px;
    font-family: sans-serif;
    color: rgb(0, 126, 245);
    padding-bottom: 12px;
}

.main .homeText h1 span{
    color: rgb(38, 38, 187);
}

.main .homeText .secondTitle {
    font-size: 3.5rem;
}

.main .homeText p{
    text-align: justify;
    width: 650px;
    position: relative;
    top: 30px;
    font-size: 20px;
    
}

.main .mainImage img{
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.buttons{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 1.2rem;
    margin-right: 10px;
}

.about-us-container{
    text-align: center;
}

.about-us-container h1{
    font-size: 2rem;
    margin: 40px 0px;
}

.aboutparagraph{
    margin: 0px 40px 30px 40px;
    font-size: 1.4rem;
}

.icons{
    max-width: 250px;
}

.aboutUs-images{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.services{
    text-align: center;
    margin-top: 80px;
    background-color: lightblue;
    padding: 50px 0px;  
}

.services h1{
    font-size: 2rem;
    margin-bottom: 30px;
}

.services ul{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

.services li{
    line-height: 30px;
    padding-left: -50px;  
}

.services li a{
    text-decoration: none;
}

.services img{
    max-width: 350px;
    margin-left: 80px;
    margin-top: -70px;
    margin-right: 30px;
    display: block;
    float: right;

}

.tablebranch{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
   
}
.tablebranch tr {
    border: 1px solid blue;
    padding: 10px;
}
.tablebranch th {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
}

.tablebranch td {
    background-color: rgba(173, 216, 230, 0.199);
    border: 1px solid blue;
    padding: 10px;
}

.Branches{
    text-align: center;
}

.Branches h1{
    font-size: 30px;
    margin: 40px 0px;
}

.contactus{
    background-image: url('contactus.jpg');
    background-size: cover;
    background-position:center;
    height: 60vh; 
    width: 100%;
    max-height: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 80px;
}

.contactbackground h1{
    font-size: 2rem;
    margin-top: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.contactbackground h3{
    font-size: 1rem;
    margin-top: 160px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
    border: 2px solid white;
    background-color: white;
    color: blue;
    border-radius: 30px;
    padding: 8px;
}

  /* Tablet view */
  @media screen and (max-width: 768px) { 
    .main {
        height: auto;
        padding-top: 50px;
    }

    .main .homeText h1 {
        font-size: 45px;
    }

    .main .homeText p {
        font-size: 1.6rem;
        max-width: 100%;
        padding: 0 2px 40px 0px;
    }

    .main .mainImage {
        display: flex;                
        justify-content: flex-end;  
        align-items: flex-end;
    }

    .main .mainImage img {
        max-width: 70%;
        position: relative;
        bottom: 0px;
        margin-right: 0px;
    }

    .main nav .navBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

    .main nav .navBar li {
        margin-right: 20px;
        margin-top: 20px;
    }

    .main nav .navBar li a {
        font-size: 1.6rem;
    }

    .main nav {
        flex-direction: column;
        padding: 10px;
        flex-wrap: wrap;
    }

    .main .logo h1 {
        font-size: 24px;
    }

    .buttons {
        font-size: 1.5rem;
        max-width: 100%;
        padding-inline: 20px;
        margin: 10px 10px 0px 0px;
    }

    .about-us-container{
        overflow: hidden;
    }

    .aboutparagraph{
        margin: 20px;
        font-size: 1.8rem;
    }

    .aboutUs-images{
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 15px;
        max-height: 100%;
        font-size: 1.5rem;
        transform: scale(1.2);
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .services ul {
        padding-left: 20px;
    }

    .services ul li{
        margin: 30px;
        padding: 10px;
        font-size: 1.8rem;
    }

    .services img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
        float: none;
    }

    .tablebranch{
        margin: 20px;
    }

    .tablebranch td, .tablebranch th {
        font-size: 1.5rem;
    }

    .contactus {
        height: 150px;
    }

    .contactus{
        height: 100vh; 
    }

    .contactbackground h1{
        font-size: 2rem;
    }

    .contactbackground h3{
        font-size: 1.8rem;
    }
}

 /* Mobile view */
@media screen and (max-width: 480px) {
    .main .homeText h1 {
        font-size: 35px;
    }

    .main .homeText p {
        font-size: 16px;
    }

    .main .mainImage img {
        width: 80%;
        position: relative;
        bottom: 0;
        right: 0;
    }

    .main nav .navBar li {
        margin-right: 10px;
    }

    .buttons {
        font-size: 14px;
        padding: 8px;
    }

    .about-us-container h1, .services h1, .Branches h1 {
        font-size: 24px;
    }

    .about-us-container p, .services li {
        font-size: 16px;
    }

    .services img {
        width: 100%;
        margin-left: 0;
    }

    .contactus {
        height: 100px;
    }

    .contactbackground h1 {
        font-size: 2rem;
    }

    .contactbackground h3 {
        font-size: 2rem;
    }
}

